<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id= "wrapper">
        <div id="header">
            <h1>Header</h1>
            <h3>Subtitle</h3>
        </div>
        <nav>
            <a href="">Home</a>
            <a href="">About us</a>
            <a href="">Contact us</a>
            <a href="">Video</a>
            <a href="">Pricing</a>
            <a href="">Something</a>
            <a href="">Somthing more...</a>
            <a href="">Something even more...</a>
        </nav>        
        <div id="main_content">
            <div class="col">
                <h3>Coffee Ipsum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum ut laudantium eum perferendis eos, vel expedita soluta similique reiciendis id nostrum neque illum odit voluptate cumque quis quasi impedit.</p>
            </div>
            <div class="col">
                <h3>Lorem Ipsum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum ut laudantium eum perferendis eos, vel expedita soluta similique reiciendis id nostrum neque illum odit voluptate cumque quis quasi impedit.</p>
            </div>
            <div class="col">
                <h3>Baby Ipsum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum ut laudantium eum perferendis eos, vel expedita soluta similique reiciendis id nostrum neque illum odit voluptate cumque quis quasi impedit.</p>
            </div>    
            <div class="col">
                <h3>Zombie Ipsum</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut voluptatum ut laudantium eum perferendis eos, vel expedita soluta similique reiciendis id nostrum neque illum odit voluptate cumque quis quasi impedit.</p>
            </div>                          
        </div>
        

    </div>
    
</body>
</html>